@charset "UTF-8";

#joinCateArea {
	height: 70px;
    width: 100%;
    padding-left: 15px;
}

#joinCateArea ul {
	list-style: none;
    margin: 0;
    height: 100%;
    padding: 0;
}
#joinCateArea ul li {
	list-style: none;
    cursor: pointer;
    background: #f2f8ff;
    display: flex;
    width: 60px;
    height: 60px;
    text-align: center;
    float: left;
    align-items: center;
    justify-content: center;
    margin-right: -10px;
    border-radius: 35px;
    border: 2px solid white;
    font-size: 20px;
}

#joinCateArea>ul li img{
	width: 50px;
	height: 50px;
}

.joinGath {
	position: relative;
    display: inline-block;
    background: #e6f2ffad;
    border-radius: 30px;
    margin: 10px 30px;
}

.joinGath img {
    width: 120px;
    height: 120px;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: 5px;
}

.joinGath> div {
    vertical-align: top;
    display: inline-block;
    width: 260px;
    overflow: hidden;
    height: 130px;
}

.joinGathTitle {
    font-size: 25px;
    position: absolute;
    top: 1px;
}

.joinGathContent {
    position: absolute;
    margin-top: 40px;
    width: 240px;
}

.joinGathSun {
    position: absolute;
    bottom: 12px;
    width: 64%;
}


.joinCateSpan {
	border-radius: 20px;
    padding: 5px 10px;
    background: #80808026;
    margin-right: 5px;
}

#joinGathArea {
	height: 86%;
    margin-top: 1.5%;
    width: 1360px;
}

.joinCateSel {
	border: 2px solid #dfcfff !important;
}

.button-3 {
    right: -150px;
    bottom: 0;
    right: 0px;
    background-color: #f7a4a4;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 25px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: 00;
    padding: 5px 5px;
    text-align: center;
    width: 60px;
    position: absolute;
}
